/*
 * CSS Resets
 */

/* reset margin and padding on all elements */
* { 
	margin: 0; 
	padding: 0;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
 }

/* allow us to make sections which are the same size as the browser window */
body, html {
	height: 100%;
}

/* allows us to force div elements to grow to fit floated elements inside them */
/* also known as a 'clearfix' to web developers */
.contain-floats:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .contain-floats             { zoom: 1; } /* IE6 */
*:first-child+html .contain-floats { zoom: 1; } /* IE7 */




/*
 * General Text Bits
 */
body {
	font-family: 'Verdana', 'Arial', 'sans-serif';
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Freckle Face', 'Helvetica', 'sans-serif';
}

h1 {
	font-size: 100px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

p {
	padding: 10px 0;
	line-height: 170%;
}




/*
 * General Layout Bits
 */
.centered {
	width: 950px;
	margin: 0 auto;
}




/*
 * Title Section
 */
.title-section {
	position: relative;
	background: #000000 url('images/marcwitzel-zebra.jpg') no-repeat center center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.title-section h1 {
	position: absolute;
	right: 10%;
	top: 10%;
	color: #FFFFFF;
	line-height: 70%;
}

.title-section h1 .small {
	display:block;
	font-size: 70px;
}




/*
 * Introduction Section
 */
.introduction-section {
	background: #005201;
	color: #D3F5D3;
	min-height: 100%;
	width: 100%;
	padding: 100px 0;
}

.introduction-section img {
	float:left;
	width: 300px;
	border: 10px solid #D3F5D3;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
	margin-right: 30px;
}

.introduction-section .text-content {
	text-align: justify;
}




/*
 * Photo Section
 */
.photo-section {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.photo-section .image-info {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	bottom: 0;
	padding: 20px;
	width: 100%;
	color: #FFFFFF;
}




/*
 * Species Section
 */
.species-section {
	background: #4C046E;
	color: #F0E1F7;
	min-height: 100%;
	width: 100%;
	padding: 100px 0;
}

.species-section .species-info {
	margin-top: 50px;
}

.species-section .species-info img {
	width: 150px;
	float:left;
	border: 10px solid #F0E1F7;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
	margin-right: 30px;
}

.species-section .species-info .text-content {
	display:block;
	overflow:hidden;
}

.species-section .species-info .attribution {
	font-size: 12px;
	font-style: italic;
}


