* { 
	margin: 0; 
	padding: 0; 
}

body, html {
	height: 100%;
}

/*
 * Common Bits
 */
.centered {
	width: 950px;
	margin: 0 auto;
}

/*
 * Title Section
 */
.title-section {
	position: relative;
	background: #000000 url('images/marcwitzel-zebra.jpg') no-repeat center center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.title-section h1 {
	position: absolute;
	right: 10%;
	top: 10%;
	color: #FFFFFF;
	font-family: 'Freckle Face', 'Helvetica', 'sans-serif';
	font-size: 100px;
	line-height: 70%;
}

.title-section h1 .small {
	display:block;
	font-size: 70px;
}

/*
 * Introduction Section
 */
.introduction-section {
	background: #005201;
	color: #D3F5D3;
	min-height: 100%;
	width: 100%;
	padding: 50px 0;
}

.introduction-section img {
	width: 300px;
	border: 10px solid #D3F5D3;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/*
 * Photo Section
 */
.photo-section {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.photo-section .image-info {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	padding: 20px;
	width: 100%;
	color: #FFFFFF;
}